body{

margin:0;
font-family:Poppins;
background:linear-gradient(120deg,#ff758c,#ff7eb3);
color:white;

}



nav{

display:flex;
justify-content:space-between;
padding:20px 50px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);

}



ul{

display:flex;
list-style:none;

}



ul li{

margin:0 15px;

}



ul li a{

color:white;
text-decoration:none;

}



.hero{

height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

}



.hero h1{

font-size:60px;

animation:fade 2s;

}



.hero button{

padding:15px 40px;
border:none;
background:white;
color:#ff4e50;
font-weight:bold;
border-radius:30px;
cursor:pointer;
transition:0.4s;

}



.hero button:hover{

transform:scale(1.1);
box-shadow:0 0 20px white;

}



.services{

text-align:center;
padding:50px;

}



.cards{

display:flex;
justify-content:center;

}



.card{

background:white;
color:black;
padding:30px;
margin:20px;
border-radius:20px;
transition:0.5s;

}



.card:hover{

transform:translateY(-20px);

}



.gallery{

text-align:center;

}



.images img{

width:300px;
margin:20px;
border-radius:20px;
transition:0.5s;

}



.images img:hover{

transform:scale(1.1);

}



.contact{

text-align:center;
padding:50px;

}



footer{

text-align:center;
padding:20px;

}



@keyframes fade{

from{

opacity:0;
transform:translateY(-40px);

}

to{

opacity:1;
transform:translateY(0);

}

}